.container {
  width: 1800px;

  margin: 20px auto;
  padding: 20px;
  background: #fff;
  font-size: 0.71rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

.text {
  font-size: 0.75rem;
}

ul {
  margin: 0;
}
